In [43]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as func

In [28]:
spk = SparkSession.builder.appName('Playground').getOrCreate()

In [29]:
spk

In [30]:
# Read the parquet dataset
df = spk.read.parquet('/Users/oliver/Downloads/MAST30034_Python-main/data/tlc_data')

In [31]:
df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: double (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: double (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [34]:
df.count()

22821986

In [40]:
df.orderBy('tpep_pickup_datetime').select(['tpep_pickup_datetime','tpep_dropoff_datetime']).show()

+--------------------+---------------------+
|tpep_pickup_datetime|tpep_dropoff_datetime|
+--------------------+---------------------+
| 2003-01-01 11:10:06|  2003-01-01 23:38:59|
| 2003-01-01 11:26:16|  2003-01-01 11:38:46|
| 2003-01-01 11:43:37|  2003-01-01 12:04:09|
| 2003-01-01 12:21:25|  2003-01-01 12:29:34|
| 2003-01-01 12:32:47|  2003-01-02 08:36:08|
| 2003-01-05 15:05:18|  2003-01-06 05:41:11|
| 2003-01-06 10:37:05|  2003-01-07 08:02:39|
| 2003-01-09 18:54:48|  2003-01-10 03:34:52|
| 2003-01-29 19:34:30|  2003-01-29 22:30:23|
| 2009-01-01 03:15:09|  2009-01-01 03:23:09|
| 2009-01-01 09:05:53|  2009-01-01 22:16:52|
| 2009-01-01 09:23:09|  2009-01-02 07:34:42|
| 2009-01-01 09:57:07|  2009-01-01 10:02:07|
| 2009-01-01 09:57:07|  2009-01-01 10:02:07|
| 2009-01-01 10:01:52|  2009-01-01 10:02:05|
| 2009-01-01 10:02:01|  2009-01-01 11:13:52|
| 2009-01-01 10:02:01|  2009-01-02 04:24:13|
| 2009-01-01 10:02:04|  2009-01-02 04:04:49|
| 2009-01-01 10:02:04|  2009-01-02 04:04:21|
| 2009-01-01 10:02:37|  2009-01-01 12:00:14|
+--------------------+---------------------+
only showing top 20 rows

In [45]:
df = df.withColumn("date_only", func.to_date(func.col("tpep_pickup_datetime")))

In [52]:
df.select(['tpep_pickup_datetime', 'date_only']).show()

+--------------------+----------+
|tpep_pickup_datetime| date_only|
+--------------------+----------+
| 2022-03-01 11:13:08|2022-03-01|
| 2022-03-01 11:47:52|2022-03-01|
| 2022-03-01 11:02:46|2022-03-01|
| 2022-03-01 11:52:43|2022-03-01|
| 2022-03-01 11:15:35|2022-03-01|
| 2022-03-01 11:11:57|2022-03-01|
| 2022-03-01 11:05:11|2022-03-01|
| 2022-03-01 11:30:56|2022-03-01|
| 2022-03-01 11:30:28|2022-03-01|
| 2022-03-01 11:30:28|2022-03-01|
| 2022-03-01 11:34:25|2022-03-01|
| 2022-03-01 11:35:11|2022-03-01|
| 2022-03-01 11:59:02|2022-03-01|
| 2022-03-01 11:16:00|2022-03-01|
| 2022-03-01 11:57:18|2022-03-01|
| 2022-03-01 11:01:50|2022-03-01|
| 2022-03-01 12:03:05|2022-03-01|
| 2022-03-01 11:28:14|2022-03-01|
| 2022-03-01 11:35:49|2022-03-01|
| 2022-03-01 11:22:31|2022-03-01|
+--------------------+----------+
only showing top 20 rows

In [91]:
df.select('date_only').distinct().count()

230

In [134]:
# Filter date
df2 = df.where((func.col("date_only") >= '2021-10-01') & (func.col("date_only") <= '2022-04-30'))

In [135]:
df2.select('date_only').distinct().count()

212